<%- include ('../partials/header') %> 

<main>
  
  <div class="container text-center">
    <h3 style="float: left;">Highscore: <%= highscore%> </h3>
    <form action="/logout" method="GET">
      <input style="float: right;" class="btn btn-dark" type="submit" value="Logout"/>
    </form>
    <br><br><br>
    <div class="row">
      <div class="column" style="background-color:rgba(100,100,100, 0.5);">
          <h2>Top 5 Leaderboard</h2>

          <% for(let i =0; i<5; i++){ %>
            <hr size ="5">
          <p>Data</p>

         <% } %>
         

      </div>
      <div class="column" style="background-color:rgba(100,100,100, 0.5);">
        <h1>Welcome <%= username %></h1>
        <form action="/play" method="GET">
          <input style ="width: 300px;"class="btn btn-dark" type="submit" value="Play"/>
        </form>
      </div>
    <!-- Home page HTML HERE -->
   
    
  </div>
  

</main>

<%- include ('../partials/footer') %>