<%- include ('../partials/header') %> 

<main>

  <div class="container text-center">
    <!-- Home page HTML HERE -->
    <form action="/logout" method="GET">
      <input style="float: right;" class="btn btn-dark" type="submit" value="Logout"/>
    </form>
    <h1>LeaderBoard <%= username %></h1>

    
  </div>
  

</main>

<%- include ('../partials/footer') %>