<%- include ('../partials/header') %> 
 



<<<<<<< HEAD
<main   class="p-3 mb-2  text-black">
=======
<main  class="p-3 mb-2  text-black">
>>>>>>> c8bb283cded7b1fc45d68551c933702f3a5bdd1b
  <div class="container">
    



   

    <form action="/login" method="POST">
      
     
        <H1>Login</H1>
   
   

 
        <label for="username">Username:</label>
        <input class="form-control" type="text" id="name" name="username" />
        <br>
        <label for="password">Password:</label>
        <input class="form-control" type="text" id="password" name="password" />
        <br>
        <input class="btn btn-dark"type="submit" value="Login"/>
      </form>
      <p>Don't have an account?<a  href="/register"> Register</a></p>
  </div>
  <div class="col"><%- include ('../partials/message') %></div>

</main>

<%- include ('../partials/footer') %>