<%- include ('../partials/header') %> 

<main  class="p-3 mb-2  text-black">

  <div class="container">
    <h1> Register</h1>
    <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input class="form-control" type="text" id="name" name="username" />
        <br>
        <label for="password">Password:</label>
        <input class="form-control" type="text" id="password" name="password" />
        <br>
        <input class="btn btn-dark" type="submit" value="Register"/>
      </form>
      <p style ="width: 10000px">Already have an account?<a href="/login"> Login</a></p>
  </div>

    <%- include ('../partials/message') %>


</main>

<%- include ('../partials/footer') %>