<div class="card" style="width: 20rem;">
    <img src="img/level3.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h2> XP LEVEL: </h2>
      <h5 class="card-title" style="font-size: xx-large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">3</h5>
      <p class="card-text">You have gotten between 6 and 9 answers correct. This means you are almost to expert. Keep grinding and you will get there eventually! </p>
      <a href="#" class="btn btn-primary">XP LEVEL SYSTEM</a>
      
    </div>
  </div>