<div class="card" style="width: 20rem;">
    <img src="img/level3.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h2> XP LEVEL: 3 </h2>
      <p class="card-text"><b>Range: </b> 510- 1000 <br> <b>All time score:</b> <%= all_time_score %>  <br> <b>Next Level:</b> 1010 </p>
      <a href="/xpSystem" class="btn btn-dark"> XP LEVEL SYSTEM</a> 
      
    </div>
  </div>