<div class="card" style="width: 18rem;">
    <img src="img/level1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h2> XP LEVEL: 1</h2>
      <p class="card-text"><b>Range: </b> 0 - 100 <br> <b>All time score:</b> <%= all_time_score %>  <br> <b>Next Level:</b> 110 </p>
      <a href="/xpSystem" class="btn btn-primary"> XP LEVEL SYSTEM</a> 
      
    </div>
  </div>