<div class="card" style="width: 18rem;">
    <img src="img/level1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h2> XP LEVEL: </h2>
      <h5 class="card-title" style="font-size: xx-large; font-family: 'Times New Roman', Times, serif;"> 1</h5>
      <p class="card-text">You have gotten between 6 and 9 answers correct.  </p>
      <a href="/home" class="btn btn-primary" action= "/change_pic">XP LEVEL SYSTEM </a>
      
    </div>
  </div>