<div class="card" style="width: 20rem;">
    <img src="img/beginner.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="font-size: xx-large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">BEGINNER</h5>
      <p class="card-text"><b>Range: </b> 50 - 70 <br> <b>HighScore:</b> <%= highscore %>  <br> <b>Next Rank:</b> N/A  </p>
      <a href="/rankSystem" class="btn btn-dark"> RANK SYSTEM</a> 

      
    </div>
  </div>