<div class="card" style="width: 20rem;">
    <img src="img/beginner.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="font-size: xx-large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">beginner</h5>
      <p class="card-text">You have gotten between 3 and 5 answers right. This means you are progressing but still new to the game. With time you will be within Intermediate ranked players. </p>
      <a href="#" class="btn btn-primary">RANK SYSTEM</a>
      
    </div>
  </div>