<div class="card" style="width: 20rem;">
    <img src="img/einstein.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="font-size: xx-large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">EINSTEIN</h5>

      <p class="card-text"><b>Range: </b> 200 - 300 <br> <b>HighScore:</b> <%= highscore %>  <br> <b>Next Rank:</b> 300 </p>
      <a href="/rankSystem" class="btn btn-dark"> RANK SYSTEM</a> 
      
    </div>
  </div>