<div class="card" style="width: 20rem;">
    <img src="img/einstein.png" class="card-img-top" alt="...">
    <div class="card-body">
<<<<<<< HEAD
      <h5 class="card-title" style="font-size: xx-large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">EINSTEIN</h5>

      <p class="card-text"><b>Range: </b> 200 - 300 <br> <b>HighScore:</b> <%= highscore %>  <br> <b>Next Rank:</b> 300 </p>
      <a href="/rankSystem" class="btn btn-primary"> RANK SYSTEM</a> 
=======
      <h5 class="card-title" style="font-size: xx-large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Einstein</h5>
      <p class="card-text">You are up there with some of the smartest people in the world! You are able to get any challenging question right and have proven it by getting 15 to 24 questions right in a row. Next rank will put you above the rest with 25 in a row. </p>
      <a href="#" class="btn btn-primary"> RANK SYSTEM</a>
>>>>>>> 823f82652a90682c46accc254130de055e69cb70
      
    </div>
  </div>