<div class="card" style="width: 20rem;">
  <img src="img/expert.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title" style="font-size: xx-large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Expert</h5>
    <p class="card-text"> You have become a complete expert at this game. You have gotten between 10 and 15 questions right. Keep putting in the work and maybe you can get to Einstein Rank when more than 15 in a row are completed!</p>
    <a href="#" class="btn btn-primary"> RANK SYSTEM</a>
    
  </div>
</div>
