<div class="card" style="width: 20rem;">
  <img src="img/expert.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title" style="font-size: xx-large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">EXPERT</h5>
    <p class="card-text"><b>Range: </b> 130 - 190 <br> <b>HighScore:</b> <%= highscore %>  <br> <b>Next Rank:</b> 200 </p>
    <a href="/rankSystem" class="btn btn-dark"> RANK SYSTEM</a> 

    
  </div>
</div>
