<div class="card" style="width: 20rem;">
    <img src="img/intermediate.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h2> </h2>
      <h5 class="card-title" style="font-size: xx-large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">INTERMEDIATE</h5>
      <p class="card-text"><b>Range: </b> 80 - 120 <br> <b>HighScore:</b> <%= highscore %>  <br> <b>Next Rank:</b> 130 </p>

      <a href="/rankSystem" class="btn btn-primary"> RANK SYSTEM</a> 
      
      
    </div>
  </div>