<div class="card" style="width: 20rem;">
    <img src="img/intermediate.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h2> RANK: </h2>
      <h5 class="card-title" style="font-size: xx-large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Intermediate</h5>
      <p class="card-text">You have gotten between 6 and 9 answers correct.  </p>
      <a href="#" class="btn btn-primary"> RANK SYSTEM</a>
      
    </div>
  </div>