<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD:project_code/src/views/partials/header.ejs

=======
>>>>>>> d6f393ab67d0125bdf40d22b25d9c722b0c1bffb:project_code/views/partials/header.ejs

  <head>


  <head >

<<<<<<< HEAD:project_code/src/views/partials/header.ejs


  <head>

=======
>>>>>>> d6f393ab67d0125bdf40d22b25d9c722b0c1bffb:project_code/views/partials/header.ejs
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>Think Tank Trivia</title>
    
   
    <!-- TO-DO: Add the <link /> tag to include bootstrap stylesheet (HINT: Look in previous labs or BootStrap documentation)-->
    <link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
rel="stylesheet"
integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
crossorigin="anonymous"
/>
<link rel="stylesheet" type="text/css" href="css/style.css">
<style>
  body{
    background-image: url('img/defaultBackground.png');
  }
</style>

<script type="text/javascript" src="/js/script.js"></script>

  </head>
  <body>