body{
  background-image: url("img/defaultBackround.png");
 
}
/* {
  box-sizing: border-box;
} */
/* Set additional styling options for the columns*/
.column {
float: left;
width: 50%;

}

.row:after {
content: "";
display: table;
clear: both;
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  width: 300px;
  height: 300px;
 
  
  }
  .navbar{
background-color: transparent;
}
  
main{


text-align: center;
max-width: 1200px;
margin: 0 auto;
}

.card {
margin-bottom: 10px;
width: 300px;
height: 250px;
background-color: rgba(255, 255, 255, 0.5);
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
transform: translateY(-5px);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn {
border-radius: 5px;
color: white;
padding: 10px 20px;
border: none;
transition: background-color 0.3s ease;
}


.profile-details strong {
color: #333;
}

.profile-header h1 {
font-size: 2em; /* Adjust size as needed */
color: #333; /* Dark color for better contrast */
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Black shadow for depth */
}

.profile-header p {
font-size: 1.2em;
color: #555; /* Slightly lighter than the heading */
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.ocean {
position: relative;
width: 100vw;
height: 100vh;
}

.ocean::after, 
.ocean::before {
background-color: white;
width: 120%;
height: 120px;
position: absolute;
content: '';
top: -80px;
left: -10%;
border-radius: 100%;
animation: waves 10s ease infinite;
opacity: 0.2;
}

.ocean::before {
top: -60px;
animation-delay: 5s;
opacity: 0.1;
left: -5%;
}

@keyframes waves {
0%, 100% {transform: rotate(-2deg);}
50% {transform: rotate(2deg);}
}