body{
    background-image: url("img/defaultBackround.png");
   
  }
  /* {
    box-sizing: border-box;
} */
/* Set additional styling options for the columns*/
.column {
float: left;
width: 50%;
border: 1px solid black;
}

.row:after {
content: "";
display: table;
clear: both;
}
