body{
  background-image: url("img/defaultBackround.png");
 
}.column {
  float: left;
  width: 50%;
  /* border: 1px solid black; */
  }
  
  .row:after {
  content: "";
  display: table;
  clear: both;
  }
  
.card {
margin-bottom: 10px;

border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
transform: translateY(-5px);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn {
border-radius: 5px;
color: white;
padding: 10px 20px;
border: none;
transition: background-color 0.3s ease;
}


